<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="MobileAutomation">
    <test name="iOSAutomation">
        <classes>
            <class name="testcase.TC01ChangeDateTest" />
            <class name="testcase.TC02EnterAndCompareTextTest" />
        </classes>
    </test>
</suite>